button, label {
	gap: 8px
}
button, input {
	padding: .75em 1em
}
*, ::after, ::before {
	box-sizing: border-box;
	margin: 0
}
:root, button, input {
	font-family: Inter, sans-serif;
	font-feature-settings: 'liga' 1, 'calt' 1;
	font-size: 20px
}
@supports (font-variation-settings:normal) {
	:root, button, input {
		font-family: InterVariable, sans-serif
	}
}
form, label {
	display: flex;
	flex-direction: column
}
form {
	padding: 24px;
	gap: 24px;
	height: 100%;
	justify-content: center;
	min-height: 100dvh;
	max-width: 600px;
	margin: auto
}
button {
	background: #ff4c4c;
	color: #fff;
	border-radius: .5em;
	border: none;
	transition: .15s ease-out;
	display: flex;
	align-items: center;
	justify-content: center
}
button:hover {
	background: #ff6868
}
button:disabled {
	background: #fbb !important;
	scale: 1 !important
}
input {
	border-radius: .5em;
	border: 1px solid #cacaca
}
input:focus {
	outline: #ffe1e1 solid 4px
}
button:active {
	scale: 0.95
}
.refresh {
	animation: 1s infinite rotation
}
@keyframes rotation{from{rotate:0}to{rotate:-360deg}}